* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}


.background {
  background-image: url(assets/img/fundoeditada.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
  color: #FBF7F7;
  display: flex;
 }


.Main {
  position: absolute;
  top: 30%;
  left: 8%;
  transform: translateY(-50%);

}

.Main span {
  color: #e2a815;
}

h1 {

  color: #E5DFE0;
  padding: 0px;
  font-size: 75px;
}

h3 {

  color: #ECD2B4;
  font-size: 25px;
  margin-bottom: 10px;

}

h4 {
  color: #ECD2B4;
  letter-spacing: 2px;
  font-size: 20px;
}




.social.inline {
  display: flex;
  margin-top: 5px;

}

.social.inline a {
  color: #E5DFE0;
  margin-right: 30px;
  margin-bottom: 60px;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 2.4;
  font-size: 20px;
  font-weight: 500;

}

.social.inline a .icon {

  margin-right: 4px;
  vertical-align: -2px;

}

.social span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  z-index: 2;
  color: #E5DFE0;

}

.social.inline a:hover span  {
  color: #e8bb30;
}

.social a:hover i {
  color: #e8bb30;
}

a.hover-underline:hover:before {
  opacity: 1;
  -webkit-transform: translateY(1px) rotate(0.01deg);
  transform: translateY(1px) rotate(0.01deg);
}

a.hover-underline:before {
  content: "";
  background: currentColor;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

}

.social a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-property: background-color, border-color, color;
  transition-property: background-color, border-color, color;
}

a.hover-underline {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.background-color-Sobre {
   background-color: #043351;
  width: 100%;
  padding: 100px 30px;
}


.Text-sobre {
  width: 1300px;
}

.main-sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1300px;
  margin: 0 auto;
}

.Text-sobre h2 {
  color: #e2a815;
  font-size: 55px;
  text-transform: capitalize;
  margin-bottom: 20px;
}



.Text-sobre p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #E4DFE1;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 20px;
  text-align: left;
  padding-bottom: 40px;

}

button {
  background-color: #02314f;
  align-items: center;
  justify-content: center;
  display: flex;
  text-decoration: none;
  border: 2px solid #F6BE7B;
  padding: 10px 70px;
  transition: .6s;

}

button:hover {
  background-color: transparent;
  filter: brightness(.7);
  border: 2px solid #A86B6B;
  cursor: pointer;

}

.areaIcon {
  color: #e2a815;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.download a {
  padding: 0 10px;
  font-size: 20px;
  color: #e2a815;
  text-decoration: none;
}

.container-projetos {
  background-color: #01395c
  ;
  width: 100%;
  padding: 30px 0px;
}

.title h2 {
  color: #e2a815;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}


.Caixa{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  flex-wrap: wrap;
}
.Card{
  background: #f5dec4;
  height: 380px;
  width: 345px;
  border-radius: 20px ;
  margin: 40px;
  position: relative;
  overflow: hidden;
  text-align:  center;
  
}

.Card i{
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #033351;

} 


h5{
  color: #043351;
  font-size: 20px;
  margin-bottom: 10px;
  
}

.Paragrafo-card p{
  color: #043351;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.acesso{
  margin-top: 25px;
  font-size: 20px;
  color: #033351;
  text-decoration: none;
  border: 4px solid ;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform .4s;
}

.acesso:hover {
  background-color: transparent;
  filter: brightness(.7);
  border: 2px solid #e2a815;
  cursor: pointer;

}


